<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #dfa974;">
  <div class="container-fluid">
    <a class="navbar-brand text-da font-weight-bold" href="/"><h3>Bon Voyage</h3></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/" >Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="/contactUs">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">About</a>
        </li>
        <div class="dropdown">
          <button
            class="btn btn-outline-dark dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{#if user}}
              {{{details.name}}}

            {{else}}

              Account
            {{/if}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

            {{#if user}}
              <li><a class="dropdown-item" href="/profile?id={{details._id}}">Profile</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>

            {{else}}
              <li><a class="dropdown-item" href="/login">Login</a></li>

              <li><a class="dropdown-item" href="/signup">Signup</a></li>

            {{/if}}

          </ul>
        </div>

      </ul>

    </div>
  </div>
</nav>