<section class="hero-section" style="background-image: url(/images/hero/hero-2.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="hero-text">
          <h1>Get your best </h1>
          <p>Here are the best hotel booking sites, including recommendations for international
            travel and for finding low-priced hotel rooms.</p>
          

        </div>

        {{#if user}}

        {{else}}
        <div>
          <a href="/vendor"><button type="button" class="btn btn-outline-warning mt-5  text-white mb-3">List your
              rooms</button></a>
        </div>
        {{/if}}
      </div>
      <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
        <div class="booking-form">
          <h3>Booking Your Hotel</h3>
          <form action="/searchRooms" method="post" id="searchRooms">
            <div class="d-flex flex-column justify-content-around">
              <div class="location check-date">


                <i class="bi bi-geo-alt-fill" style='color:#ff7e00'></i>
                <input list="location" name="location" class=" form-control location" name="location" id="locationId"
                  placeholder="Location" type="text">

                <datalist id="location">
                  {{#each locations}}
                  <option value="{{this}}">
                    {{/each}}

                </datalist>

              </div>
              <div class="check-date mt-3">

                <input class="datepicker1" name="checkIn" id="checkin" type="text" placeholder="Check in">
                <i class='bx bxs-calendar icon_calendar' style='color:#ff7e00'></i>

              </div>
              
              <div class="check-date mt-3">

                <input class="datepicker2" name="checkOut" id="checkout" type="text" placeholder="Check out">
                <i class='bx bxs-calendar icon_calendar' style='color:#ff7e00'></i>

              </div>
              <div class="select-option mt-3 ">

                <select name="room" class="form-select mb-3" id="state" size="1">
                  <option value="" selected="selected">Select Rooms</option>
                </select>
              </div>

              <div class="select-option mt-2">

                <select name="guests" class="form-select " id="guests" size="1">
                  <option value="" selected="selected">Guest</option>
                </select>
                <div style="display: none"> <select name="" class="form-select mb-3" id="districtSel" size="1">
                    <option value="" selected="selected">District</option>
                  </select>
                </div>
              </adiv>
              {{#if message}}
              <p>{{message}}</p>
              {{/if}}
              <button type="submit">Check Availability</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</section>

<section class="aboutus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <div class="section-title">
                            <span>About Us</span>
                            <h2>Bon voyage<br />Rooms</h2>
                        </div>
                        <p class="f-para">bonvoyage.tk is a leading online accommodation site. We’re passionate about
                            travel. Every day, we inspire and reach millions of travelers across 90 local websites in 41
                            languages.</p>
                        <p class="s-para">So when it comes to booking the perfect hotel, vacation rental, resort,
                            apartment, guest house, or tree house, we’ve got you covered.</p>
                       
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-pic">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="/images/hero/about-1.jpg" alt="">
                            </div>
                            <div class="col-sm-6">
                                <img src="/images/hero/about-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>What We Do</span>
                        <h2>Discover Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                      
                       
                        <h4>Travel Plan</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                       
                        <h4>Catering Service</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        
                        <h4>Babysitting</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        
                        <h4>Laundry</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                       
                        <h4>Hire Driver</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        
                        <h4>Bar & Drink</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="hp-room-section">
        <div class="container-fluid">
            <div class="hp-room-items">
                <div class="row">
                    <div class="col-xs-12 col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="/images/hero/room-b1.jpg">
                            <div class="hr-text">
                                <h3>Double Room</h3><span class="text-white">starts from</span>
                                <h2>₹ 1500<span>/Pernight</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>30 ft</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Capacity:</td>
                                            <td>Max persion 5</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>King Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn" style="text-decoration: none;">More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="/images/hero/room-b2.jpg">
                            <div class="hr-text">
                                <h3>Premium King Room</h3><span class="text-white">starts from</span>
                                <h2> ₹ 7500<span>/Pernight</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>30 ft</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Capacity:</td>
                                            <td>Max persion 5</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>King Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn" style="text-decoration: none;">More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xs-12 col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="/images/hero/room-b3.jpg">
                            <div class="hr-text">
                                <h3>Deluxe Room</h3><span class="text-white">starts from</span>
                                <h2>₹ 3500<span>/Pernight</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>30 ft</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Capacity:</td>
                                            <td>Max persion 5</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>King Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn" style="text-decoration: none;">More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xs-12 col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="/images/hero/room-b4.jpg">
                            <div class="hr-text">
                                <h3>Family Room</h3><span class="text-white">starts from</span>
                                <h2>₹ 2500<span>/Pernight</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>30 ft</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Capacity:</td>
                                            <td>Max persion 5</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>King Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn" style="text-decoration: none;">More Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="img/footer-logo.png" alt="">
                                </a>
                            </div>
                            <p>We inspire and reach millions of travelers<br /> across 90 local websites</p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                               
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Contact Us</h6>
                            <ul>
                                <li>+91 986 325 1241</li>
                                <li>bon.voyage@gmail.com</li>
                                <li>856 Cordia Extension Apt. 356, Lake, United State</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>New latest</h6>
                            <p>Get the latest updates and offers.</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    <!-- Footer Section End -->



