<p>image uloader</p>

<form action="/vendor/imageUpload"  enctype="multipart/form-data" method="post">
    <input type="file" name="images" accept="image/*" multiple >
    <button type="submit">Submit</button>
</form>