<div class="container-fluid vh-100" >
    <div class="" style="margin-top:200px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-12 col-lg-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h3 class="text-dark">Create Account</h3>
                </div>
                <div class="p-4">
                    <form action="/otpcheck" method="post" id="userSignup">
                        <div class="input-group mb-3">
                            <span class="input-group-text  register-form"><i
                                    class="bi bi-person-plus-fill text-white"></i></span>
                            <input type="text" class="form-control" placeholder="Username" name="name">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text register-form"><i
                                    class="bi bi-envelope text-white"></i></span>
                            <input type="email" class="form-control" placeholder="Email" name="email">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text register-form"><i
                                    class="bi bi-telephone-fill text-white"></i></span>
                            <input type="tel" class="form-control" placeholder="Number" name="number">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text register-form"><i
                                    class="bi bi-key-fill text-white"></i></span>
                            <input type="password" class="form-control" placeholder="password" name="password" id="password">
                        </div>
                         <div class="input-group mb-3">
                            <span class="input-group-text register-form"><i
                                    class="bi bi-key-fill text-white"></i></span>
                            <input type="password" class="form-control" placeholder="Re-enter Password" name="cPassword">
                        </div>
                        <div class="d-grid col-12 mx-auto">
                            <button class="btn btn-warning text-dark" type="submit"><span></span> Sign up</button>
                        </div>
                        
                        <p class="text-center mt-3">Dont have an account ?
                            <a href="/login">Login</span>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .error{
        color:red;
        
        
    }
    
</style>